#container-hd {
    padding: 10px;
    color: #EAFDFC;
    
}

.container {
    background-image: url('../assets/mountain.jpg');
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 30px;
    height: auto;
    width: 95vw;                   
    background-color: #2155CD;
    opacity: 0.8;
    border-radius: 4px;            
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-sizing: border-box;
}

label {
    font-size: 14px;
    color: #C5FFF8;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 6px;            
}

input,
select {
    border: 2px solid #1363DF;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    height: 40px;
    width: 100%;                   
    box-sizing: border-box;
}

input[type=submit] {
    width: 180px;                  
    height: 40px;                  
    background-color: #FF3B3B;
    color: #DFF6FF;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 20px auto 0 auto;
}

input[type=submit]:hover {
    background-color: #d62828;
}